<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Add Word</title>
</head>
<body>
  <div class="form-container">
    <form class="form" method="post" action="/word/add">
      <h2 class="form-title">Add Word</h2>
      <div class="input-group">
        <input id="english" type="text" placeholder="english" name="english" required />
      </div>
      <div class="input-group">
        <input id="persian" type="text" placeholder="فارسی" name="persian" required/>
      </div>
      <div class="input-group">
        <input id="pro" type="text" placeholder="Pronunciation" name="pro"/>
      </div>
      <div class="input-group">
        <input id="exp" type="text" placeholder="Example" name="exp"/>
      </div>
      <button type="submit" class="submit-btn">Add</button>
    </form>
    <%- include("components/nav") %>
  </div>
</body>
</html>