<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <link rel="stylesheet" href="/styles/crm.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="title-part">
          <p class="title">Performance</p>
          <button class="export-button">
            <p>Export</p>
            <img src="/img/download-icon.svg">
          </button>
        </div>
        <div class="cards-div">
          <div class="card">
            <div class="first-row">
              <p>Total Member</p>
              <button class="see-more-button">
                <img src="/img/see-more-icon.svg">
              </button>
            </div>
            <p class="num">1234</p>
          </div>
          <div class="card">
            <div class="first-row">
              <p>Total Words</p>
              <button class="see-more-button">
                <img src="/img/see-more-icon.svg">
              </button>
            </div>
            <p class="num">1234</p>
          </div>
          <div class="card">
            <div class="first-row">
              <p>Average Activity</p>
              <button class="see-more-button">
                <img src="/img/see-more-icon.svg">
              </button>
            </div>
            <p class="num">1234</p>
          </div>
          <div class="card">
            <div class="first-row">
              <p>weekly Activity</p>
              <button class="see-more-button">
                <img src="/img/see-more-icon.svg">
              </button>
            </div>
            <p class="num">1234</p>
          </div>
        </div>
        <div class="reports">
          <div class="weekly-reports">
            <div class="chart">
              <img src="/img/report 1.svg" alt="Bar Chart" >
            </div>
          </div>
          <div class="data-reports">
            <div class="chart">
              <img src="/img/report 2.svg" alt="Bar Chart" >
            </div>
          </div>
        </div>
        <div class="member-list">
          <p>Members List</p>
          <div class="list">
            <div class="member-info">
              <img class="profile" src="/img/profile-icon-memberlist.svg"> 
              <p class="name info">Name</p>
              <p class="username info">username</p>
              <p class="email info">username@gmail.come</p>
              <p class="l-activity info">last activity</p>
            </div>
            <div class="member-info">
              <img class="profile" src="/img/profile-icon-memberlist.svg"> 
              <p class="name info">Name</p>
              <p class="username info">username</p>
              <p class="email info">username@gmail.come</p>
              <p class="l-activity info">last activity</p>
            </div>
            <div class="member-info">
              <img class="profile" src="/img/profile-icon-memberlist.svg"> 
              <p class="name info">Name</p>
              <p class="username info">username</p>
              <p class="email info">username@gmail.come</p>
              <p class="l-activity info">last activity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>