<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="styles/login.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
      <div class="main-container">
          <div class="form-container">
            <form method="post" action="/user/editpass">
                <h2 class="form-title">Edit Password</h2>

                <% if (messages.error) { %>
                    <div class="flash-message error"><%= messages.error %></div>
                <% } %>
                <input type="hidden" name="userid" value="<%= userid %>">

                <div class="input-group password-container">
                  <input type="password" id="currentPassword" name="curpass" placeholder="Current Password" required>
                  <span class="password-toggle-icon" onclick="togglePassword('currentPassword')"><i id="currentPasswordSpan" class="fas fa-eye"></i></span>
                </div>

                <div class="input-group password-container">
                  <input type="password" id="newPassword" name="newpass" placeholder="New Password" required>
                  <span class="password-toggle-icon" onclick="togglePassword('newPassword')"><i id="newPasswordSpan" class="fas fa-eye"></i></span>
                </div>

                <div class="input-group password-container">
                  <input id="confirmPassword" type="password" name="conpass" placeholder="Confirm Password" required>
                  <span class="password-toggle-icon" onclick="togglePassword('confirmPassword')"><i id="confirmPasswordSpan" class="fas fa-eye"></i></span>
                </div>

                <button type="submit" class="submit-btn">Edit</button>
            </form>
          </div>
    </div>
  </body>
  <script>
    function togglePassword(id){
      const passwordField = document.getElementById(id);
      const toggle = document.getElementById(id + "Span")

      if (passwordField.type === "password") {
        passwordField.type = "text";
        toggle.classList.remove("fa-eye");
        toggle.classList.add("fa-eye-slash");
      } else {
        passwordField.type = "password";
        toggle.classList.remove("fa-eye-slash");
        toggle.classList.add("fa-eye");
      }
    }
  </script>
</html>
