<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <form class="search-div" method="post" action="/word/search">
        <div class="search-icon">
          <button type="submit">
            <img src="/img/search-vector.svg">
          </button>
        </div>
        <div class="search-input-div">
          <input type="text" placeholder="Search"
          class="search-input" name="english">
        </div>
      </form>

      <div class="word-list">
        <div class="word-row-div">
          <% if (!wordIsEmpty){ %>
            <% words.forEach(word => { %>
                <%- include('components/wordCard' , {word}) %>
            <%});%> 
          <%}else{%>
            <p>there is no any words yet</p>
          <% } %>

        </div>
      </div>
      <%- include('components/nav') %>
    </div>
  </body>
</html>