<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <div class="search-div">
        <div class="search-icon">
          <img src="/img/search-vector.svg">
        </div>
        <div class="search-input-div">
          <input type="text" placeholder="Search"
          class="search-input">
        </div>
      </div>
      <div class="word-list">
        <div class="word-row-div">
          <div class="word-card">
            <div class="word">
              <p>Hello</p>
              <p>سلام</p>
            </div>
            <div class="Pronunciation">
              <p>həˈlō</p>
            </div>
            <div class="example">
              <p>
                <strong class="word">Hello</strong> there, Katie!
              </p>
            </div>
            <div class="options">
              <div class="check">
                <input type="checkbox" 
                  name="check" class="checkbox">
              </div>
              <div class="operator">
                <img src="img/Edit.svg">
                <img src="img/Delete.svg">
              </div>
            </div>
          </div>

          <div class="word-card">
            <div class="word">
              <p>Hello</p>
              <p>سلام</p>
            </div>
            <div class="Pronunciation">
              <p>həˈlō</p>
            </div>
            <div class="example">
              <p>
                <strong class="word">Hello</strong> there, Katie!
              </p>
            </div>
            <div class="options">
              <div class="check">
                <input type="checkbox" 
                  name="check" class="checkbox">
              </div>
              <div class="operator">
                <img src="img/Edit.svg">
                <img src="img/Delete.svg">
              </div>
            </div>
          </div>

          <div class="word-card">
            <div class="word">
              <p>Hello</p>
              <p>سلام</p>
            </div>
            <div class="Pronunciation">
              <p>həˈlō</p>
            </div>
            <div class="example">
              <p>
                <strong class="word">Hello</strong> there, Katie!
              </p>
            </div>
            <div class="options">
              <div class="check">
                <input type="checkbox" 
                  name="check" class="checkbox">
              </div>
              <div class="operator">
                <img src="img/Edit.svg">
                <img src="img/Delete.svg">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="navbar">
        <a href="/profile-page">
          <img src="img/navbar-profile.svg"
          alt="Profile" class="nav-item" >
        </a>
        
        <img src="img/navbar-pluse.svg" 
          alt="Add" class="nav-item">

        <img src="img/navbar-list.svg" 
          alt="List" class="nav-item">

        <a href="/home-page">
          <img src="img/navbar-home.svg" 
          alt="Home" class="nav-item">
        </a>

      </div>
    </div>
  </body>
</html>