<!doctype html>
<html>
  <head>
    <title>List</title>
    <link rel="stylesheet" href="styles/list.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <div class="word-list">
        <div class="word-list-column">
			<% if (!wordIsEmpty){ %>
				<% words.forEach(word => { %>
					<%- include('components/wordList' , {word}) %>
				<%});%> 
			<%}else{%>
				<p>there is no any words yet</p>
			<% } %>

		</div>
      </div>
      <%- include('components/nav') %>
    </div>
    </div>
  </body>
</html>