<!doctype html>
<html>
  <head>
    <title>List</title>
    <link rel="stylesheet" href="styles/list.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <div class="search-div">
        <div class="search-icon">
          <img src="/img/search-vector.svg">
        </div>
        <div class="search-input-div">
          <input type="text" placeholder="Search"
          class="search-input">
        </div>
      </div>
      <div class="word-list">
        <div class="word-list-column">
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
				</div>
				<div class="word-list-column">
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
					<div class="word-div">
						<p class="origin-word">Word</p>
						<p class="translation">translation</p>
					</div>
				</div>
      </div>
      <a href="/profile">
		<img src="img/navbar-profile.svg"
		alt="Profile" class="nav-item" >
	  </a>
	  
	  <img src="img/navbar-pluse.svg" 
		alt="Add" class="nav-item">

	  <img src="img/navbar-list.svg" 
		alt="List" class="nav-item">

	  <a href="/home">
		<img src="img/navbar-home.svg" 
		alt="Home" class="nav-item">
	  </a>
    </div>
    </div>
  </body>
</html>