<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="main-div">
      <form method="get" action="/home" class="inner-div">
        <div class="login-div">
          <p class="login-text">
            Login
          </p>
        </div>

        <div class="input-div">
          <input class="inputs"
          type="email" placeholder="Email" name="email">
        </div>
  
        <div class="input-div">
          <input class="inputs"
          type="password" placeholder="Password" , name="pass">
        </div>
        
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="6LdlFsYqAAAAAAFUCCdgaV0S30MwwXebKFuEZ3eU"></div>

        <div class="forget-pass-div">
          <p class="forget-pass-text">
            forget password?
          </p>
        </div>
        <div class="sign-up-div">
          <a href="/signup" class="sign-up-text">don't have an account? Sign Up</a>
        </div>

        <div class="button-div">
          <button type="submit" class="button">
            login
          </button>
        </div>
      </form>
    </div>
  </body>
</html>