<!DOCTYPE html>
<html>
  <head>
    <title>New Password</title>
    <link rel="stylesheet" href="styles/new-pass.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="title-div">
          <p class="recover-text">
            Rcover
          </p>
        </div>
  
        <div class="input-div">
          <input class="inputs"
          type="password" placeholder="Password">
        </div>

        <div class="input-div">
          <input class="inputs"
          type="password" placeholder="Confirm Password">
        </div>

        <div class="button-div">
          <button class="button">
            recover
          </button>
        </div>
      </div>
    </div>
  </body>
</html>