<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="account-info">
          <div class="profile-pic">
            <div class="pic">
              <img src="/img/profile photo.svg">
            </div>
            <form class="edit" method="get" action="/editpass-page">
              <button class="edit-profile" type="submit">
                <img src="/img/edit-profile.svg">
                <p>Edit Password</p>
              </button>
            </form>
            <a href="/user/logout" class="logout-link">
              <button class="logout-profile" >
                <p>Log Out</p>
              </button>
            </a>
          </div>
          <div class="info">  
            <div class="input-sec">
              <div class="title">
                Email
              </div>
              <div class="input-div">
                <%= user.email %>
              </div>
            </div>
          </div>
        </div>
        <div class="member-list">
          <p>words List</p>
          <div class="list">
            <% if (words.length > 0) { %>
              <% words.forEach(word => { %>
                <%- include("components/word" , { word }) %>
              <% }); %>
            <% }else { %>
                <p>there is no any words</p>
            <% } %>

          </div>
        </div>
      </div>
      <%- include('components/nav') %>
    </div>
  </body>
</html>