<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/flash.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="main-div">
      <form method="post" , action="/user/signup" class="inner-div">
        <div class="login-div">
          <p class="login-text">
            Register
          </p>
        </div>

        <% if (messages.error) { %>
          <div class="flash-message error"><%= messages.error %></div>
        <% } %>

        <div class="input-div">
          <input class="inputs"
          type="email" placeholder="Email" name="email" required>
        </div>
  
        <div class="input-div">
          <input class="inputs"
          type="password" placeholder="Password" name="password" required>
        </div>
   
        <div class="input-div">
          <input class="inputs"
          type="password" placeholder=" Confirm Password" name="confirmPassword" required>
        </div>
        
        <div class="g-recaptcha" data-sitekey="<%=siteKey%>"></div>

        <div class="haveAccount">
          <p>Already have an account? <a href="/login-page">Log in</a></p>
        </div>

        <div class="button-div">
          <button class="button" type="submit">
            register
          </button>
        </div>
      </form>
    </div>
  </body>
</html>