<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="login-div">
          <p class="login-text">
            Register
          </p>
        </div>

        <div class="input-div">
          <input class="inputs"
          type="email" placeholder="Email">
        </div>
  
        <div class="input-div">
          <input class="inputs"
          type="password" placeholder=" Confirm Password">
        </div>

        <div class="input-div">
          <input class="inputs"
          type="password" placeholder="Password">
        </div>

        <div class="robot-div">
          <input type="checkbox" class="checkpoint">
          <p class="robot-text">I'm not a robot!</p>
        </div>

        <div class="button-div">
          <button class="button">
            register
          </button>
        </div>
      </div>
    </div>
  </body>
</html>