<!DOCTYPE html>
<html>
  <head>
    <title>Send Code</title>
    <link rel="stylesheet" href="styles/send-code.css">
    <link rel="stylesheet" href="styles/flash.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="main-div">
      <form class="inner-div" action="/user/sendcodepost" method="post">
        <div class="title-div">
          <p class="recover-text">
            Recover
          </p>
        </div>
        
        <% if (messages.error) { %>
          <div class="flash-message error"><%= messages.error %></div>
        <% } %>

        <div class="input-div">
          <input class="inputs"
          type="email" placeholder="Email" name="email">
        </div>

        <div class="button-div">
          <button class="button" type="submit">
            send code
          </button>
        </div>
      </form>
    </div>
  </body>
</html>