<!DOCTYPE html>
<html>
  <head>
    <title>Send Code</title>
    <link rel="stylesheet" href="styles/send-code.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="title-div">
          <p class="recover-text">
            Recover
          </p>
        </div>

        <div class="input-div">
          <input class="inputs"
          type="email" placeholder="Email">
        </div>

        <div class="button-div">
          <button class="button">
            send code
          </button>
        </div>
      </div>
    </div>
  </body>
</html>