<!DOCTYPE html>
<html>
  <head>
    <title>Submit Code</title>
    <link rel="stylesheet" href="styles/submit-code.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="title-div">
          <p class="recover-text">
            Recover
          </p>
        </div>

        <div class="code-div">
          <input type="number" maxlength="1" 
          class="inputs" name="sub-code">
          <input type="number" maxlength="1" 
          class="inputs" name="sub-code">
          <input type="number" maxlength="1" 
          class="inputs" name="sub-code">
          <input type="number" maxlength="1" 
          class="inputs" name="sub-code">
          <input type="number" maxlength="1" 
          class="inputs" name="sub-code">
        </div>

        <div class="button-div">
          <button class="button">
            submit
          </button>
        </div>
      </div>
    </div>
  </body>
</html>