<!DOCTYPE html>
<html>
  <head>
    <title>Submit Code</title>
    <link rel="stylesheet" href="/styles/submit-code.css">
    <link rel="stylesheet" href="styles/flash.css">

    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="title-div">
          <p class="recover-text">
            enter the code the have been sent
          </p>
        </div>
        <% if (messages.error) { %>
          <div class="flash-message error"><%= messages.error %></div>
        <% } %>
        <form action="/user/varifycoderecover" method="post">
          <div class="code-div">
            
            <input type="text" maxlength="6" 
            class="inputs" name="otpcode" >
          </div>

          <div class="button-div">
            <button class="button" type="submit">
              submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>