<div class="member-info">
    <img class="profile" src="<%= user.profile ? user.profile : 'img/default-profile.svg' %>" alt="Profile Picture"> 
    <div class="member-details">
        <p class="email"><%= user.email %></p>
        <p class="last-login">Last Login: <%= timeGetter(user.lastLogin) %></p>
    </div>
    <span class="words-count"><%= user.wordsCount %> Words</span>
</div>
