<div class="member-info">
    <img class="profile" src="/img/profile-icon-memberlist.svg"> 
    <p class="email info"><%= user.email %></p>
    <p class="l-activity info">last Login: <%= timeGetter(user.lastLogin) %></p>
    <p class="l-activity info">number of words: <%= user.wordsCount %></p>   
</div>