<nav class="navbar">
    <a href="/profile-page"><img src="/img/navbar-profile.svg" alt="Profile"></a>
    <a href="/addword-page"><img src="/img/navbar-pluse.svg" alt="Add"></a>
    <a href="/home-page"><img src="/img/navbar-home.svg" alt="Home"></a>
</nav>